# DMS plugins
DankMaterialShell/plugins/

#fastfetch var_config
fastfetch/config.jsonc

#kitty var_config
kitty/dank-theme.conf
kitty/dank-tabs.conf
kitty/themes
kitty/current-theme.conf

#niri/dms var_config
niri/dms/colors.kdl

#DMS var_config
DankMaterialShell/firefox.css

#Noctalia
niri/noctalia.kdl

#该项可运行noctalia/scripts/generate-outputs下的脚本自动生成合适outputs
niri/noctalia/outputs.kdl 

