// @id=wr_1784567793188108742 @name=thunar
window-rule {
    match app-id="^thunar$"
    opacity 0.80
    default-window-height { fixed 800; }
    default-column-width { fixed 1500; }
    open-floating true
}

// @id=wr_1784567810532189293 @name=org.gnome.Nautilus
window-rule {
    match app-id="^org.gnome.Nautilus$"
    opacity 0.80
    default-window-height { fixed 800; }
    default-column-width { fixed 1500; }
}

// @id=wr_1784567880984479404 @name=code
window-rule {
    match app-id="^code$"
    opacity 0.90
}

// @id=wr_1785850400364990676 @name=QQ
window-rule {
    match app-id="^QQ$" title="^QQ$"
    opacity 0.85
    default-window-height { fixed 800; }
    default-column-width { fixed 1200; }
    open-floating true
}

// @id=wr_1785851569212190134 @name=jetbrains-rustrover startup
window-rule {
    match app-id="^jetbrains-rustrover$" title="^(欢迎访问|Welcome to) RustRover$"
    open-floating true
}

// @id=wr_1785852793621584544 @name=jetbrains-studio
window-rule {
    match app-id="^jetbrains-studio$" title="^(欢迎访问|Welcome to) Android Studio$"
    open-floating true
}

// @id=wr_1785853049017886608 @name=com.follow.clash
window-rule {
    match app-id="^com.follow.clash$"
    default-window-height { fixed 800; }
    default-column-width { fixed 1200; }
    open-floating true
}

// @id=wr_1785853551266731001 @name=localsend
window-rule {
    match app-id="^localsend$"
    default-window-height { fixed 800; }
    default-column-width { fixed 1200; }
    open-floating true
    opacity 0.80
    default-floating-position x=700 y=280
}

window-rule {
    match app-id="^nm-connection-editor$"
    default-window-height { fixed 800; }
    default-column-width { fixed 1500; }
    opacity 0.80
    open-floating true
}

window-rule {
    match app-id="^io.github.nirimod$"
    default-window-height { fixed 800; }
    default-column-width { fixed 1500; }
    opacity 0.80
    open-floating true
}

window-rule {
    match app-id="^xdg-desktop-portal-gtk$"
    default-window-height { fixed 800; }
    default-column-width { fixed 1500; }
    opacity 0.85
}

window-rule {
  match app-id="^scrcpy$"
  open-floating true
}
